* {
  border: none;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

html,
body,
#__container {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: #140a21;
}

#__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
